/*Dark Theme*/
body.dark-theme{
  background-color: #231B36;
}

body.dark-theme.bluedark{
  background-color:#090F30;
}
body.dark-theme.orangedark{
  background-color:#401E09;
}
body.dark-theme.golddark{
  background-color:#4D391F;
}
body.dark-theme.reddark{
  background-color:#36000F;
}

body.dark-theme .centerName{
  color: #e8e4e1;
  background-color: #3b2e5a;
}

body.dark-theme .top-item-link{
  color: #e8e4e1;
}

body.dark-theme .a{
  background: linear-gradient(#111d5e, #090F30);
}
body.dark-theme .b{
  background: linear-gradient(#f37121, #783811);
}
body.dark-theme .c{
  background: linear-gradient(#FFBD69, #4D391F);
}
body.dark-theme .d{
  background: linear-gradient(#c70039, #66001D);
}

body.dark-theme .toggleDarkLight{
  background: linear-gradient(#3282b8, #bbe1fa);
  border: solid #1f4068 5px;
}

body.dark-theme .scroll-down-container h4{
  color: #e8e4e1;
}

body.dark-theme .scroll-down-container span{
  border-bottom: solid 1px #e8e4e1;
  border-right: solid 1px #e8e4e1;
}

body.dark-theme .text{
  color: #e8e4e1;
}

body.dark-theme .hardSkills, body.dark-theme .softSkills{
  background-color: #401E09;
  border: solid 5px #f25d00;
  box-shadow: 0 0 5px #f25d00;
}

body.dark-theme .works-title{
  background-color: #4D391F;
  border: solid 5px #FFBD69;
  color: #FFBD69;
  box-shadow: 0 0 5px #FFBD69;
  color: #e8e4e1;
}

body.dark-theme .works-project{
  background-color: transparent;
  border: solid 2px #FFBD69;
  box-shadow: 0 0 5px #FFBD69;
}

body.dark-theme .information-link{
  background: #2B2142;
  color: #e8e4e1;
}
body.dark-theme .github-link{
  background-color: #231B36;
  color: #e8e4e1;
}

body.dark-theme .contactMe-title{
  background-color: #36000F;
  border: solid 5px #bd0a64;
  color: #bd0a64;
  box-shadow: 0 0 5px #bd0a64;
  color: #e8e4e1;
}

body.dark-theme .item-link{
  color: #bd0a64;
}

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color:#ffffff;
  transition: 1s ease;
}

h1, h2{
  font-family: 'Vidaloka', serif;
  margin: 0;
}
li, p, button{
  font-family: 'Raleway', sans-serif;
}

section{
  height:100vh;
}

button{
  border: none;
  cursor: pointer;
}

button:active{
  opacity: 0.3;
  transform: scale(1.1);
}

a{
  text-decoration: none;
}

.nav-link, .cv, .ball, .information-link{
  transition: .2s ease-in-out;
}

.blue{
  background-color:#d8dbec;
}
.orange{
  background-color:#e9ded0;
}
.gold{
  background-color:#ffe2bd;
}
.red{
  background-color:#ecd8d8;
}
.animation{
  opacity:0;
  transition: 1s ease;
}
.appear{
  opacity:1;
}
/*Top Page*/

.topContainer{
  width:100%;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}
.main, .nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-font{
  display: flex;
  width: 100%;
}
.top-item{
  margin-right: 10px;
}
.top-item-link{
  color: #3b2e5a;
  transition: 0.25s ease;
}
.top-item-link:hover{
  opacity: 0.5
}
.top-copy-pop{
  width: 100%;
}
.top-copy-email-text{
  font-size: 1.5rem;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  transition: 0.25s ease;
  opacity: 0;
}
.top-copy-email-text:before{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.centerName{
  font-size: 4rem;
  color: #3b2e5a;
  width:50vw;
  height: auto;
  text-align: left;
  background-color: #e8e4e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.switchContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.darkLightSwitch{
  opacity: 0;
  position: absolute;
}
.darkLightSwitch:checked + .toggleDarkLight .ball{
  transform: translateX(100px);
}
.toggleDarkLight{
  position: relative;
  display: flex;
  align-items: center;
  height: 75px;
  width: 200px;
  justify-content: space-around;
  font-size: 3rem;
  background: linear-gradient(#fb9224, #fbe555);
  border-radius: 50px;
  border: solid #2a1a5e 5px;
  box-shadow: inset 0 0 10px black;
}
.fa-sun{
  color:#f45905;
}
.fa-moon{
  color: #0f4c75
}
.ball{
  position: absolute;
  left: 0;
  height: 72px;
  width: 100px;
  background: linear-gradient(#17223b, #263859);
  border-radius: 50px;
  border: solid #69779b 3px;
  box-shadow: 0 0 6px black;
}
.nav{
  bottom: 0;
}
.nav li{
  list-style-type: none;
}
.nav-links{
  display: flex;
  padding: 0;
  height: 100%;
  width: 100%;
  justify-content:center;
}
.nav-link{
  color: #e8e4e1;
  font-size: 2rem;
  height:100%;
  width: 24vw;
}
.a{
  background: linear-gradient(#111d5e, #1B2E96);
  border: 2mm ridge #111d5e;
}
.b{
  background: linear-gradient(#f37121, #FF8724);
  border: 2mm ridge #f37121;
}
.c{
  background: linear-gradient(#FFBD69, #BF8E4E);
  border: 2mm ridge #FFBD69;
}
.d{
  background: linear-gradient(#c70039, #FF0048);
  border: 2mm ridge #c70039;
}

.scroll-down{
  display: none;
  width: 100%;
}
.scroll-down-container{
  margin: auto;
  text-align: center;
}
.scroll-down-container h4{
  margin: 0;
}
.scroll-down-container span{
  margin: auto;
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: solid 1px #3b2e5a;
  border-right: solid 1px #3b2e5a;
  transform: rotate(45deg);
  animation: scrollDown 2s infinite;
}

.scroll-down-container span:nth-child(2){
  animation-delay: -0.2s;
}
.scroll-down-container span:nth-child(3){
  animation-delay: -0.4s;
}


@keyframes scrollDown {
  0%
  {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}

/*About Me*/
.secondContainer{
  display:flex;
  align-items: center;
  justify-content: center;
}

.aboutMe{
  height:50%;
  width:90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-aboutme, .text{
  text-align: left;
  margin: 0 5%;
}

.title-aboutme{
  background-color: #2f365e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #e8e4e1;
}


.text{
  font-size: 1.5rem;
  color:#3b2e5a;
  line-height: 1.6;
  display: flex;
  align-items: center;
}

.cv{
  padding: 2% 10%;
  font-size: 1.5rem;
  background-color: #2f365e;
  color: #e8e4e1;
  box-shadow: 10px 10px 20px #2d2d2d;
}


/*Skills*/
.thirdContainer{
  display:flex;
  align-items: center;
  justify-content: center;
}

.skills{
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hardSkills, .softSkills{
  color: #e8e4e1;
  padding-top: 1%;
}

.title-hardSkills, .title-softSkills{
  color: #e8e4e1;
  font-size: 2rem;
  border-bottom: solid #f37121 5px;
  text-align: center;
  margin:0;
}

.list-hardSkills, .list-softSkills{
  font-size: 1.6rem;
  line-height: 1.6;
  margin-left: 5%;
}

.hardSkills{
  background: #f25d00;
}

.softSkills{
  background: #f28d4e;
}

/*Works*/
.fourthContainer-container{
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.works{
  width: 90%;
  height: 100%;
  margin: auto;
}
.works-title{
  width: 100%;
  height: 20%;
  font-size: 2rem;
  color: white;
  background: #FFBD69;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works-projects-container{
  width: 100%;
  height: 80%;
  padding-top: 30px;
}
.works-project{
  position: relative;
  width: 25%;
  height: auto;
  display: inline-block;
  background-color: #FFBD69;
  border: solid 2px #4D391F;
  margin: 20px;
  padding: 10px;
}
.project-image{
  width: 100%;
  height: 70%;
}
.project-image:hover{
  opacity: 0.5;
}
.jappalo-wings, .portfolio{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.information-container, .github-box{
  width: auto;
  height: 50px;
  margin-bottom: 5px;
  border: solid 2px #4D391F;

}

.information-link, .github-link{
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  align-items: center;
}
.information-link{
  background: white;
}
.github-link{
  background-color: #e8e4e1;
}

.github-link i{
  padding-left: 6px;
}

/*Contact*/

.fifthContainer-container{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
.fifthContainer-content{
  width: 100%;
  height: 80%;
  margin-top: 30px;
}
.contactMe-title{
  background-color: #c73c63;
  text-align: center;
  color: #e8e4e1;
  font-size: 2.5rem;
  width: 90%;
  margin: auto;
}
.contactMe-links-container{
  text-align: center;
  width: 90%;
  margin: auto;
  height: auto;
  padding-top: 40px;
}
.contactMe-links-row{
  width: 100%;
}
.contact-font{
}
.item{
  width: 15%;
  display: inline-block;
  padding: 10px;
}
.item-link{
  color: #c73c63;
  text-decoration: none;
  transition: 0.25s ease;
}
.item-link .fab, .item-link .fas{
  font-size: 12rem;
}
.item-link:hover{
  opacity: 0.5
}

.contact-copy-pop{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.contact-copy-email-text{
  width: 19%;
  font-size: 1.5rem;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 20px;
  z-index: 1;
  position: absolute;
  transition: 0.25s ease;
  opacity: 0;
}
.contact-copy-email-text:before{
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}


/*Modal*/

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: linear 0.25s, opacity 0.25s 0s, transform 0.25s ease;
  z-index: 400;
}
.modal-content-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
  z-index: 100;
  padding: 1rem 1.5rem;
}
.close-btn{
  font-size: 2rem;
  height: 10%;
  cursor: pointer;
}

.modal-content{
  width: 100%;
  height: 90%;
}
.languages-text{
  width: 100%;
  display: flex;
}
.language-icon{
  width: 30%;
  height: auto;
  text-align: center;
}
.language-icon .fab{
  font-size: 2rem;
}

@media only screen and (max-width: 1024px){
  .item{
    width: 40%;
  }
  .contact-copy-pop{
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .contact-copy-email-text{
    width: 60%;
    padding: 20px;
    font-size: 1.5rem;
    position: absolute;
    bottom: 20%;
  }

  .works-project{
    width: 40%;
  }
}

@media only screen and (max-width: 750px){
  .topContainer{
    grid-template-rows: 10% 65% 25%;
  }
  .top-item{
    width: 15%;
    font-size: 3rem;
  }
  .toggleDarkLight{
    height: 35px;
    width: 100px;
    font-size: 1.5rem;
    border-radius: 50px;
    border: solid #2a1a5e 5px;
    box-shadow: inset 0 0 10px black;
  }
  .ball{
    height: 30px;
    width: 50px;
    border-radius: 50px;
    border: solid #69779b 3px;
    box-shadow: 0 0 6px black;
  }
  .darkLightSwitch:checked + .toggleDarkLight .ball{
    transform: translateX(50px);
  }
  .contactMe-title{
    width: 90%;
  }
  .nav{
    display: none;
  }
  .main{
    padding: 0 10px;
  }
  .centerName{
    width: 100%;
    font-size: 2rem;
  }
  .scroll-down{
    display: block;
  }
  .aboutMe{
    height:90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .title-aboutme{
    font-size: 2rem;
  }
  .title-aboutme, .text{
    text-align: center;
  }
  .text{
    font-size: 1.3rem;
  }
  .skills{
    height:90%;
    width: 85%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .title-hardSkills, .title-softSkills{
    font-size: 1rem;
  }
  .list-hardSkills, .list-softSkills{
    font-size: 1rem;
  }
  .fourthContainer{
    height: auto;
  }
  .works-project{
    width: 100%;
  }
  .project-image{
    width: 100%;
  }
  .github-box, .information-container{
    width: 100%;
  }
  .works-projects-container{
    display: inline-block;
  }
  .works-project{
    width: auto;
    height: auto;
    margin: 0 0 20px 0;
  }
  .information-link, .github-link{
    transform: none !important;
  }
  .fifthContainer-content{
    padding: 0 10px;
  }
  .item-link .fab, .item-link .fas{
    font-size: 7rem;
  }
  .contact-copy-pop{
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .contact-copy-email-text{
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
  }
  .contact-copy-email-text:before{
    left: 50%;
  }
  .modal-content-container{
    width: 70%;
  }
}

@media only screen and (max-width: 350px){
  .centerName{
    height: auto;
  }
  .secondContainer, .thirdContainer, .fourthContainer, .fifthContainer{
    height: auto;
    padding: 70px 0;
  }
  .top-item{
    width: 48%;
    font-size: 3rem;
  }
}
